{% extends 'management_panel_module/base.html' %}

{% block title %}
    قرار دادن تکلیف جدید
{% endblock %}

{% block content %}
    <form method="post"
          action="{% if request.resolver_match.url_name == 'set_new_home_work_lesson' %} {% url 'set_new_home_work_lesson' lesson=lesson %} {% else %} {% url 'set_homework_page' %} {% endif %}">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">عنوان تکلیف</label>
            <input type="text" name="title" class="form-control" placeholder="عنوان ...">
        </div>
        <div class="mb-3">
            <label class="form-label">مهلت ارسال تکلیف</label>
            {{ form.end_at }}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <div class="alert-error"><p>{{ message }}</p></div>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <label class="form-label">مربوط به درس</label>
        {{ form.lesson }}
        <div class="input-group">
            {{ form.year }}
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">توضیحات تکلیف</label>
            <textarea name="description" class="form-control" placeholder="توضیحات ..." rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">تایید</button>
    </form>




{% endblock %}