{% extends 'management_panel_module/base.html' %}

{% block title %}
    قرار دادن تکلیف جدید
{% endblock %}

{% block content %}
    <h1 class="text-center">تنظیم تکلیف جدید برای درس <u>{{ lesson.title }}</u>  {{ lesson.base }} رشته {{ lesson.field_of_study }}</h1>
    <hr>
    <form method="post"
          action="{% if request.resolver_match.url_name == 'set_new_home_work_lesson' %} {% url 'set_new_home_work_lesson' lesson=lesson.id %} {% else %} {% url 'set_homework_page' %} {% endif %}">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">عنوان تکلیف</label>
            <input type="text" name="title" class="form-control" placeholder="عنوان ...">
        </div>
        <div class="mb-3">
            <label class="form-label">مهلت ارسال تکلیف</label>
            <div id="picker"></div>
            <input name="end_at" type="hidden" id="result" value=""/>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <div class="alert-error"><p>{{ message }}</p></div>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <label class="form-label">فرمت های مجاز</label>
        {{ form.format }}
        <label class="form-label">حداکثر حجم فایل</label>
        <input type="number" name="max_size" class="form-control" placeholder="سایز ...">
        <label class="form-label">مربوط به کدام پودمان یا نوبت</label>
        {{ form.poodeman_or_nobat }}
    <label class="form-label">وزن نمره</label>
    {{ form.score_weight }}
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">توضیحات تکلیف</label>
            <textarea name="description" class="form-control" placeholder="توضیحات ..." rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">تایید</button>
    </form>




{% endblock %}