{% extends 'management_panel_module/management_page.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
    لیست دانش آموزان
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">جدول لیست دانش آموزان</h3>

                    <div class="card-tools">
                        <form action="{% url 'students_list_page' %}" method="get">

                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input id="students-search-input" type="text" name="table_search"
                                       class="form-control float-right"
                                       placeholder="جست و جو">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>

                        </form>
                        {% if request.GET.table_search %}
                            <p><a href="{% url 'students_list_page' %}"> نمایش همه </a></p>
                        {% endif %}
                    </div>
                </div>
                <!-- /.card-header -->
                <div id="students-list">
                    {% include 'management_panel_module/students_list_content.html' %}
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <script>
        $('#students-search-input').keyup(function () {
            //$.get('/students-list-search?table_search='+this.value).then(res => {
               //     $('#students-list').html(res.body);
            //});
            $.ajax({
                url: '/students-list-search',
                method: 'get',
                data: {table_search: this.value}
            }).done(function (res){
                $('#students-list').html(res.body);
            })
        })
        $(document).ready(function (){
            $(document).ajax(function (){
            })
        })
    </script>
{% endblock %}