{% extends 'management_panel_module/management_page.html' %}
{% load thumbnail %}
{% load render_partial %}
{% load static %}
{% block title %}
    تغییر کلمه عبور
{% endblock %}

{% block custom_header %}
    <link rel="stylesheet" href="{% static 'css/loading.css' %}">
{% endblock %}
{% block content %}

    <div class="container">
        <div class="main-body">


            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    {% render_partial 'account_module.views.user_profile_component' %}
                    {% render_partial 'account_module.views.user_panel_dashboard_component' %}
                </div>


                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <form id="my_form" method="post" action="{% url 'edit_user_pass_page' %}">
                                {% csrf_token %}
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">رمز عبور فعلی</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input placeholder="رمز عبور فعلی ..." name="current_password" type="password"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">رمز عبور جدید</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input placeholder="رمز عبور جدید ..." name="new_password" type="password"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-9 text-secondary">
                                        <button type="submit" class="btn btn-primary px-4"> ذخیره تغییرات</button>
                                    </div>
                                </div>
                                <br>
                                {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                            </form>
                        </div>
                    </div>
                    <div id="message-success"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-1">hello mf</div>
{% endblock %}
{% block custom_footer %}
    <script>
        var frm = $('#my_form');
        frm.submit(function (e) {
            e.preventDefault(e);
            var formData = new FormData(this);
            let cookie = document.cookie
            let csrfToken = cookie.substring(cookie.indexOf('=') + 1)
            $body = $("body");
            $(document).ajaxStart(function () {
                $body.addClass("loading");
            });
            $(document).ajaxStop(function () {
                $body.removeClass("loading");
            })
            $.ajax({
                async: true,
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                headers: {
                    'X-CSRFToken': csrfToken
                },
                success: function (res) {
                    if (res.status === 'success') {
                        $('#message-success').empty().append(showMessageError('رمز عبور شما با موفقیت تغییر کرد لطفا دوباره لاگین کنید ...', 'success', 'موفق'));
                        setTimeout(function () {
                            window.location.replace('/user');
                        }, 5000);
                    } else {
                        $('#message-success').empty().append(showMessageError(res.error, 'danger', 'شکست'));
                    }
                }
            });
        });
    </script>
{% endblock %}