{% extends 'management_panel_module/management_page.html' %}

{% block title %}
    forget pass
{% endblock %}

{% block content %}
<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>فراموشی رمز عبور</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">در صورت فراموشی رمز عبور ایمیل خود را وارد کنید</p>

      <form action="{% url 'forget-pass-page' %}" method="post">
          {% csrf_token %}
        <div class="input-group mb-3">
          <input name="email" type="email" class="form-control" placeholder="ایمیل">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">تایید</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <p class="mt-3 mb-1">
        <a href="{% url 'login_page' %}">ورود به سایت</a>
      </p>

    </div>
    <!-- /.login-card-body -->
{% if messages %}
{% for message in messages %}
      <div align="center" class="alert-success">
          <p>{{ message }}</p>
      </div>
{% endfor %}

{% endif %}
  </div>
</div>
{% endblock %}