{% extends 'management_panel_module/management_page.html' %}
{% load thumbnail %}
{% load render_partial %}
{% load poll_extras %}
{% load jalali_tags %}
{% block title %}
    پنل کاربری
{% endblock %}

{% block content %}
    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    {% render_partial 'account_module.views.user_profile_component' %}
                    {% render_partial 'account_module.views.user_panel_dashboard_component' %}
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">نام کاربری</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ user.username }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">نام</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ user.first_name }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">نام خانوادگی</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ user.last_name }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">ایمیل</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ user.email }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">کد ملی</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ user.national_code|persian_number_converter }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">تاریخ تولد</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ user.jalali_date_of_birth }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">آدرس</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ user.address }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">رمز عبور</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    ********
                                </div>
                            </div>
                        </div>
                    </div>


                    {% if not user.is_teacher %}
                        <div class="row gutters-sm">
                            <div class="col-sm-12 mb-3">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h6 class="d-flex align-items-center mb-3">درصد تحویل تکالیف</h6>
                                        <div class="card-footer dashboard-card-footer border-0 bg-white">
                                            <div class="progress bg-white border">
                                                <div class="progress-bar bar" role="progressbar"
                                                     aria-valuenow="{{ percent_of_sent_homework }}"
                                                     style="width: {{ percent_of_sent_homework }}%"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="small">
                                                <span class="sr-only">پیشرفت درس:</span>
                                                <strong>{{ percent_of_sent_homework }}</strong>% کامل شده
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}