{% extends 'management_panel_module/management_page.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
    test
{% endblock %}

{% block custom_header %}
    <link rel="stylesheet" href="{% static 'css/chat_box.css' %}">
{% endblock %}

{% block content %}
    <div id="container">
        <aside>
            <header>
                <input type="text" placeholder="search">
            </header>
            <ul>
                {% for user in users %}
                    <li>
                        <a href="{% url 'chat_pv_view' username=user.username %}">
                            {% thumbnail user.avatar "50x50" crop="center" quality=95 as im %}
                            <img src="{{ im.url }}" alt="">
                        {% endthumbnail %}
                            <div>
                                <h2>{{ user.username }}</h2>
                                <h3>
                                    <span class="status orange"></span>
                                    offline
                                </h3>
                            </div>
                        </a>
                    </li>
                {% endfor %}

            </ul>
        </aside>
        {#        <main>#}
        {#            <header>#}
        {#                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" alt="">#}
        {#                <div>#}
        {#                    <h2>Chat with Vincent Porter</h2>#}
        {#                    <h3>already 1902 messages</h3>#}
        {#                </div>#}
        {#                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_star.png" alt="">#}
        {#            </header>#}
        {#            <ul id="chat">#}
        {#                <li class="you">#}
        {#                    <div class="entete">#}
        {#                        <span class="status green"></span>#}
        {#                        <h2>Vincent</h2>#}
        {#                        <h3>10:12AM, Today</h3>#}
        {#                    </div>#}
        {#                    <div class="triangle"></div>#}
        {#                    <div class="message">#}
        {#                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.#}
        {#                    </div>#}
        {#                </li>#}
        {#                <li class="me">#}
        {#                    <div class="entete">#}
        {#                        <h3>10:12AM, Today</h3>#}
        {#                        <h2>Vincent</h2>#}
        {#                        <span class="status blue"></span>#}
        {#                    </div>#}
        {#                    <div class="triangle"></div>#}
        {#                    <div class="message">#}
        {#                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.#}
        {#                    </div>#}
        {#                </li>#}
        {#            </ul>#}
        {#            <footer>#}
        {#                <textarea style="border: 1px solid black; border-radius: 6px" placeholder="Type your message"></textarea>#}
        {#                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_picture.png" alt="">#}
        {#                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_file.png" alt="">#}
        {#                <button class="btn btn-sm btn-primary">send</button>#}
        {#            </footer>#}
        {#        </main>#}
    </div>
{% endblock %}