{% extends 'management_panel_module/management_page.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
    test
{% endblock %}

{% block custom_header %}
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid pt-3">
        <div class="row removable">
            <div class="col-lg-12 px-sm-0">
                <div class="card shadow-none px-0 bg-transparent mt-0 mb-4">
                    <div class="card-body px-0 pb-0">
                        <div class="px-0 pb-4">
                            <div class="row flex-row">
                                <div class="col-lg-4 mb-4">
                                    <div class="card max-height-vh-90 h-100 overflow-auto overflow-x-hidden mb-5 mb-lg-0"
                                         style="max-height: 70vh;">
                                        <form class="card-header">
                                            <div class="input-group mb-0">
                                                <input type="text" placeholder="Search" class="form-control"
                                                       aria-label="Amount (to the nearest dollar)">
                                                <div class="input-group-append">
                                                        <span class="input-group-text">
                                                            <i class="fa fa-search"></i>
                                                        </span>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="card-body p-2">
                                            {% for chat in chats %}
                                                {% for member in chat.member_set.all %}
                                                    {% if member.user.id != request.user.id %}
                                                        <a href="{% url 'chat_contact_view' chat_id=chat.unique_code %}"
                                                           class="d-block p-2 rounded-lg {% if chat.id == current_chat.id %}bg-gradient-primary{% endif %} contact">
                                                            <div class="d-flex p-2">
                                                                {% thumbnail member.user.avatar "400x400" crop="center" quality=95 as im %}
                                                                    <img alt="Image"
                                                                         src="{{ im.url }}"
                                                                         class="avatar rounded-circle">
                                                                {% endthumbnail %}
                                                                <div class="ml-2">
                                                                    <div class="justify-content-between align-items-center">
                                                                        <h4 class="mb-0 mt-2 text-black">
                                                                            {{ member.user.username }}
                                                                            <span class="badge badge-success"></span>
                                                                        </h4>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8" style="direction: rtl!important;">
                                    <div class="card max-height-vh-90" style="max-height: 70vh;">
                                        {% if current_chat %}
                                            <div id="messages-list" class="card-body overflow-auto overflow-x-hidden">
                                                {% if messages %}
                                                    {% for message in messages %}
                                                        <div class="row {% if message.author.id == request.user.id %}justify-content-end text-right {% else %}justify-content-start {% endif %}  mb-4">
                                                            <div class="col-auto">
                                                                <div class="card {% if message.author.id == request.user.id %}bg-gradient-primary text-white {% endif %}">
                                                                    <div class="card-body p-2">
                                                                        {% if not message.filemessage %}
                                                                            <p class="mb-1" dir="ltr">
                                                                                {% if message.imagemessage %}
                                                                                    <img alt="na" class="image-message"
                                                                                         src="{{ message.imagemessage.image.url }}"> {% else %}
                                                                                    {{ message.text }}{% endif %} <br>
                                                                            </p>
                                                                        {% else %}
                                                                            <a href="{% url 'file_download_message_view' chat_id=current_chat.unique_code file_id=message.filemessage.unique_code %}"
                                                                               file_id="{{ message.filemessage.unique_code }}"
                                                                               style="cursor: pointer; color: black"
                                                                               class="mb-1"
                                                                               dir="ltr">
                                                                                {{ message.filemessage.filename }}
                                                                                <br>
                                                                            </a>
                                                                        {% endif %}
                                                                        <div class="d-flex align-items-center justify-content-end text-sm opacity-6">
                                                                            <i class="fa {% if message.author.id == request.user.id and not message.is_seen %}fa-check {% elif message.author.id == request.user.id and message.is_seen %} fa-check-double {% endif %} mr-1 text-xs"
                                                                               aria-hidden="true"></i>
                                                                            <small>{{ message.date_created | time }}</small>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                {% else %}
                                                    <div id="no-message" class="text-muted text-danger text-center">هیچ
                                                        پیامی برای نمایش وجود ندارد
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div style="padding: 20px" id="is-typing-div">
                                                {#                                                        <span id="is-typing-text"#}
                                                {#                                                                                  style="direction: ltr; opacity: .8"> ... is typing </span>#}
                                            </div>
                                        {% else %}
                                            <div style="height: 70vh;display: flex;align-items: center;justify-content: center ;background-color: rgba(163,163,163,0.5)"
                                                 class="card-body overflow-auto overflow-x-hidden">
                                                <div>
                                                    لطفا برای شروع یک چت را انتخاب کنید
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="card-footer d-block">
                                            <div class="input-group mb-3">
                                                <input style="height: 50px;" id="msg-input" type="text"
                                                       placeholder="Search"
                                                       class="form-control"
                                                       aria-label="Amount (to the nearest dollar)">
                                                <div style="cursor: pointer" id="msg-submit" class="input-group-append">
                                                    <span class="input-group-text">
                                                        <i class="fa fa-paper-plane"></i>
                                                    </span>
                                                    <span class="input-group-text">
                                                        <label style="cursor: pointer" for="image-message-input">
                                                            <i class="fa-solid fa-image"></i>
                        <input class="btn btn-primary float-right" name="file" type="file" value="ارسال"
                               id="image-message-input" accept="image/jpeg"/>
                                                        </label>
                                                    </span>
                                                    <span class="input-group-text">
                                                        <label style="cursor: pointer" for="file-message-input">
                                                            <i class="fa-solid fa-file"></i>
                        <input class="btn btn-primary float-right" name="file-message" type="file" value="ارسال"
                               id="file-message-input"/>
                                                            {% csrf_token %}
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_footer %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
    <script>
        {% if current_chat %}
            function isEmptyOrSpaces(str) {
                return str === null || str.match(/^ *$/) !== null;
            }
            let chat_id = {{ current_chat_id }};
            let msgdiv = $('#messages-list');

            window.onload = function (e) {
                msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
            }

            let ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";
            let socket = new ReconnectingWebSocket(
                ws_scheme + '://' + window.location.host +
                '/ws/chat/' + chat_id + '/');
            socket.onmessage = function (e) {
                let message = JSON.parse(e.data);
                switch (message['type']) {
                    case "message":
                        msgdiv.append(`<div class="row justify-content-start mb-4">
                                                        <div class="col-auto">
                                                            <div class="card ">
                                                                <div class="card-body p-2">
                                                                    <p class="mb-1" dir="ltr">
                                                                        ${message['text']}<br>
                                                                    </p>
                                                                    <div class="d-flex align-items-center justify-content-end text-sm opacity-6">
                                                                        <i class="fa mr-1 text-xs"
                                                                           aria-hidden="true"></i>
                                                                        <small>{% now "SHORT_DATETIME_FORMAT" %}</small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>`)
                        socket.send(JSON.stringify({"message_type": "seen_message"}));
                        break;
                    case "seen_all":
                        document.querySelectorAll('.fa-check').forEach(e => {
                            e.classList.remove('fa-check');
                            e.classList.add('fa-check-double')
                        })
                        break;
                    case "seen_one":
                        let onCheckItem = document.querySelectorAll('.fa-check');
                        let lastOnCheckItem = onCheckItem[onCheckItem.length - 1]
                        lastOnCheckItem.classList.remove('fa-check')
                        lastOnCheckItem.classList.add('fa-check-double')
                        break;
                    case "image":
                        msgdiv.append(`<div class="row justify-content-start mb-4">
                                                        <div class="col-auto">
                                                            <div class="card ">
                                                                <div class="card-body p-2">
                                                                    <p class="mb-1" dir="ltr">
                                                                        <img alt="na" class="image-message" src="${message['text']}" ><br>
                                                                    </p>
                                                                    <div class="d-flex align-items-center justify-content-end text-sm opacity-6">
                                                                        <i class="fa mr-1 text-xs"
                                                                           aria-hidden="true"></i>
                                                                        <small>{% now "SHORT_DATETIME_FORMAT" %}</small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>`)
                        socket.send(JSON.stringify({"message_type": "seen_message"}));
                        break;
                    case "file":
                        let file_id = String(message['text'])
                        setTimeout(function () {
                            let fileElement = document.querySelector(`p[file_id="${file_id}"]`);
                            if (fileElement === null) {
                                msgdiv.append(`
                                 <div class="row justify-content-start text-right justify-content-start mb-4">
                                                                                                            <div class="col-auto">
                                                                                                                <div class="card">
                                                                                                                    <div class="card-body p-2">
                                                                                                                        <a href="{% url 'chat_contact_view' chat_id=current_chat.unique_code %}file-download/${file_id}" file_id=${file_id} style="cursor: pointer" class="mb-1" dir="ltr">
                                                                                                                        ${message['file_name']}
                                                                                                                        <br>
                                                                                                                        </a>
                                                                                                                        <div class="d-flex align-items-center justify-content-end text-sm opacity-6">

                                                                                                                            <small>{% now "SHORT_DATETIME_FORMAT" %}</small>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                `)
                                socket.send(JSON.stringify({"message_type": "seen_message"}));
                            }
                        }, 1000)
                        break;
                    case "start_typing":
                        let isTypingElement = document.querySelector('#is-typing-text');
                        let isTypingContainer = document.querySelector('#is-typing-div')
                        if (isTypingElement === null) {
                            isTypingContainer.innerHTML = `<span id="is-typing-text" style="direction: ltr; opacity: .8"> ... is typing </span>`
                        }
                        break;
                    case "end_typing":
                        let isTypingElement1 = document.querySelector('#is-typing-text');
                        let isTypingContainer1 = document.querySelector('#is-typing-div')
                        if (isTypingElement1 !== null) {
                            isTypingContainer1.innerHTML = ''
                        }
                        break;
                    default:
                        break;
                }
                msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
            };

            socket.onclose = function (e) {
                console.error('Socket closed unexpectedly');
            };

            document.querySelector('#msg-input').focus();
            document.querySelector('#msg-input').onkeyup = function (e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#msg-submit').click();
                }
            };
            setTimeout(function () {
                socket.send(JSON.stringify({"message_type": "seen_messages"}));
            }, 2000);
            document.querySelector('#msg-submit').onclick = function (e) {
                let messageInputDom = document.querySelector('#msg-input');
                let message = messageInputDom.value;
                if (!isEmptyOrSpaces(message) && message !== '') {
                    msgdiv.append(`    <div class="row justify-content-end text-right  mb-4">
                                                        <div class="col-auto">
                                                            <div class="card bg-gradient-primary text-white ">
                                                                <div class="card-body p-2">
                                                                    <p class="mb-1" dir="ltr">
                                                                        ${message}<br>
                                                                    </p>
                                                                    <div class="d-flex align-items-center justify-content-end text-sm opacity-6">
                                                                        <i class="fa fa-check mr-1 text-xs"
                                                                           aria-hidden="true"></i>
                                                                        <small>{% now "SHORT_DATETIME_FORMAT" %}</small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>`)
                }
                $('#no-message').remove()

                msgdiv.scrollTop(msgdiv.prop("scrollHeight"));

                socket.send(JSON.stringify({"message_type": "message", "text": message}));
                socket.send(JSON.stringify({"message_type": "end_typing"}));
                messageInputDom.value = '';
            };
            let fileInput = document.getElementById('file-message-input')
            fileInput.addEventListener('change', e => {
                let target = e.target;
                if (target.files && target.files[0]) {
                    let formData = new FormData();
                    let csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value
                    formData.append("file_message", target.files[0]);
                    $(document).ajaxStart(function () {
                        console.log('started')
                    })
                    $.ajax({
                        url: "{% url 'file_message_view' chat_id=current_chat.unique_code %}",
                        method: "POST",
                        data: formData,
                        cache: false,
                        processData: false,
                        contentType: false,
                        headers: {
                            'X-CSRFToken': csrf
                        },
                        xhr: function () {
                            var xhr = new window.XMLHttpRequest();
                            xhr.upload.addEventListener("progress", function (evt) {
                                if (evt.lengthComputable) {
                                    var percentComplete = evt.loaded / evt.total;
                                    let percent = (Math.round(percentComplete * 100))
                                    console.log(percent)
                                }
                            }, false);
                            return xhr;
                        },
                        success: function (res) {
                            if (res.status === 'success') {
                                msgdiv.append(`
                                 <div class="row justify-content-end text-right justify-content-start mb-4">
                                                                                                            <div class="col-auto">
                                                                                                                <div class="card bg-gradient-primary text-white">
                                                                                                                    <div class="card-body p-2">
                                                                                                                        <a href="{% url 'chat_contact_view' chat_id=current_chat.unique_code %}file-download/${file_id}" style="cursor: pointer" class="mb-1" dir="ltr">
                                                                                                                        ${res.file_name}
                                                                                                                        <br>
                                                                                                                        </a>
                                                                                                                        <div class="d-flex align-items-center justify-content-end text-sm opacity-6">
                                                                                                                            <i class="fa fa-check fa-check-double mr-1 text-xs"
                                                                                                                               aria-hidden="true"></i>
                                                                                                                            <small>{% now "SHORT_DATETIME_FORMAT" %}</small>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                `)
                            } else {
                                alert(res.error)
                            }
                        }
                    })
                }
            });
            let imageInput = document.getElementById('image-message-input')
            imageInput.addEventListener('change', e => {
                let target = e.target;
                if (target.files && target.files[0]) {
                    const FR = new FileReader()
                    FR.addEventListener('load', e => {
                        socket.send(JSON.stringify({"message_type": "image", "text": e.target.result}));
                        msgdiv.append(`    <div class="row justify-content-end text-right  mb-4">
                                                        <div class="col-auto">
                                                            <div class="card bg-gradient-primary text-white ">
                                                                <div class="card-body p-2">
                                                                    <p class="mb-1" dir="ltr">
                                                                        <img alt="na" class="image-message" src="${e.target.result}" > <br>
                                                                    </p>
                                                                    <div class="d-flex align-items-center justify-content-end text-sm opacity-6">
                                                                        <i class="fa fa-check mr-1 text-xs"
                                                                           aria-hidden="true"></i>
                                                                        <small>{% now "SHORT_DATETIME_FORMAT" %}</small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>`)
                        $('#no-message').remove()

                        msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
                    })
                    FR.readAsDataURL(target.files[0])
                }
            })
            $('#msg-input').on('input', e => {
                if (e.target.value !== '' && e.target.value.length === 1) {
                    socket.send(JSON.stringify({"message_type": "start_typing"}));
                } else if (e.target.value === '') {
                    socket.send(JSON.stringify({"message_type": "end_typing"}));
                }
            })
            function fileDownload(target) {
                let fileId = target.getAttribute('file_id')
                let TOTAL_ESTIMATE = 1016 * 1024;

                function onProgress(e) {
                    var percentComplete = e.loaded / TOTAL_ESTIMATE;
                    console.log(e.loaded)
                    if (e.lengthComputable) {
                        percentComplete = e.loaded / e.total;
                    }
                    p = Math.round(percentComplete * 100);
                    console.log("progress", p + "%,", e.loaded, "bytes loaded")
                }

                function onReadyState(e) {
                    let r = e.target;
                    if (r.readyState != 4 || r.status != 200)
                        return;
                    let l = r.responseText.length;
                    console.log("Success !", l, "bytes total (" + Math.round(l / 1024) + " KB )");
                };
                {#let file = `{% url 'file_download_message_view' chat_id=current_chat.unique_code file_id=${fileId} %}`;#}
                let file = `/chat/` + `{{ current_chat.unique_code }}` + `/file-download/` + `${fileId}`;
                (function (d) {
                    let csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value
                    let fileName = file + "?bustCache=" + new Date().getTime();
                    console.log("inserting new script");
                    var r = new XMLHttpRequest();
                    r.addEventListener("progress", onProgress);
                    r.open("post", fileName, true);
                    r.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                    r.setRequestHeader("X-CSRFToken", csrf);
                    r.onreadystatechange = onReadyState;
                    let params = `file_id=${fileId}`;
                    r.send(params);
                }(document));
            }
        {% endif %}
    </script>
{% endblock %}