{% load static %}
{% load thumbnail %}
<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        {% thumbnail request.user.avatar "160x160" crop="center" quality=95 as im %}
            <img src="{{ im.url }}" class="img-circle elevation-2" alt="User Image">
        {% empty %}
            <img src="{% static 'management_panel_module/dist/img/user2-160x160.jpg' %}"
                 class="img-circle elevation-2" alt="User Image">
        {% endthumbnail %}

    </div>
    <div class="info">
        <a href="{% url 'user_panel_page' %}" class="d-block">{{ request.user.get_full_name }}</a>
    </div>
</div>