.contact img{
    width: 50px;
}
.contact:hover{
    text-decoration: none;
}

#image-message-input, #file-message-input{
    display: None;
    height: 0;
    width: 0;
}
.image-message{
    width: 400px;
    height: 300px;
}