<footer>
    <div>
        <div class="amir">
            <h3>تلفن:{{ site_setting.phone }}<i class="fa fa-phone" aria-hidden="true"></i></h3>
            <h3>آدرس:{{ site_setting.address }}<i class="fa fa-location-arrow" aria-hidden="true"></i></h3>
            <h3 class="imail">ایمیل:{{ site_setting.email }}<i class="fa fa-envelope-open" aria-hidden="true"></i></h3>

        </div>
        <div class="foot">
            <h2><a href="#">ارتباط با ما</a></h2>
            <h4>{{ site_setting.copy_right }}</h4>
        </div>


    </div>
</footer>