{% extends 'management_panel_module/base.html' %}

{% block title %}
    ویرایش تکلیف
{% endblock %}


{% block content %}
    <h4 align="center">ویرایش تکلیف <b>{{ home_work.title }}</b></h4>
    <form method="post"
          action="{% url 'edit_home_work' id=lesson.id pk=home_work.id %}">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">عنوان تکلیف</label>
            <input type="text" name="title" class="form-control" value="{{ home_work.title }}" placeholder="عنوان ...">
        </div>
        <div class="mb-3">
            <label class="form-label">مهلت ارسال تکلیف</label>
            <div id="picker"></div>
            <input name="end_at" type="hidden" id="result" value=""/>
            <label class="form-label">فرمت های مجاز</label>
            {{ form.allowed_formats }}
            <label class="form-label">حداکثر حجم فایل</label>
            <br>
            <input type="number" name="max_size" class="form-control" value="{{ home_work.max_size }}"
                   placeholder="حجم ...">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <div class="alert-error"><p>{{ message }}</p></div>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">توضیحات تکلیف</label>
            <input value="{{ home_work.description }}" type="text" name="description" class="form-control"
                   placeholder="توضیحات ...">
        </div>
        <button type="submit" class="btn btn-primary">تایید</button>
    </form>




{% endblock %}