{% extends 'management_panel_module/management_page.html' %}
{% load jalali_tags %}
{% load static %}
{% load poll_extras %}
{% load thumbnail %}
{% block title %}
    لیست تکالیف
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h4 align="center">لیست تکالیف درس : {{ lesson.title }}</h4>
            {% if request.user.is_teacher %}
                <a class="btn btn-info btn-sm" href="{% url 'set_new_home_work_lesson' lesson=lesson.id %}">
                    <i class="fas fa-plus-circle">
                    </i>
                    اضافه کردن تکلیف به این درس
                </a>
                <div style="float: left">
                    <a class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal"
                       href="{% url 'set_new_home_work_lesson' lesson=lesson.id %}">
                        <i class="fas fa-list-ul">
                        </i>
                        دیدن لیست نمرات دانش آموزان
                    </a>
                </div>
                <div class="container">

                    <!-- The Modal -->
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">لطفا یکی از {{ lesson.type_farsi }} های زیر را انتخاب
                                        کنید</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div class="div-button d-flex flex-column justify-content-around">
                                        {% if lesson.poodeman_or_nobat == 'poodeman' %}
                                            {% for poodeman in poodemans %}
                                                <a href="{% url 'students-list-home-works' id=lesson.id slug=poodeman.slug %}"
                                                   class="button-click btn btn-primary text-white">{{ poodeman.name }}</a>
                                            {% endfor %}
                                        {% else %}
                                            {% for nobat in nobats %}
                                                <a href="{% url 'students-list-home-works' id=lesson.id slug=nobat.slug %}"
                                                   class="button-click btn btn-primary text-white">{{ nobat.name }}</a>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">خروج</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            {% endif %}
            <br>
            <hr>
            {% if home_works %}
                {% for home_work in home_works %}
                    <div class="post">
                        <div class="user-block">
                            {% thumbnail home_work.teacher.avatar "128x128" crop="center" quality=95 as im %}
                                <img class="img-circle img-bordered-sm"
                                     src="{{ im.url }}" alt="user image">
                            {% empty %}
                                <img class="img-circle img-bordered-sm"
                                     src="{% static 'management_panel_module/dist/img/user1-128x128.jpg' %}"
                                     alt="user image">
                            {% endthumbnail %}
                            <span class="username">
                          <a href="{% url 'home_work_page' id=lesson.id pk=home_work.pk %}">{{ home_work.title }}</a>
                                {% if not request.user.is_teacher %}
                                    {% if send_home_works|in_homework:home_work.id %}
                                        ✅
                                    {% else %}
                                        ❌
                                    {% endif %}
                                {% endif %}
                        </span>
                            <span class="description">زمان قرار گرفتن تکلیف  : {{ home_work.start_at.date | to_jalali }}</span>
                        </div>

                        <!-- /.user-block -->
                        <p>{{ home_work.description }}</p>
                        {% if request.user.is_teacher %}
                            <a class="btn btn-danger btn-sm"
                               href="{% url 'delete_home_work' id=lesson.id pk=home_work.id %}">
                                <i class="fas fa-trash">
                                </i>
                                حذف
                            </a>
                            <a class="btn btn-primary btn-sm"
                               href="{% url 'edit_home_work' id=lesson.id pk=home_work.id %}">
                                <i class="fas fa-edit">
                                </i>
                                ویرایش
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <div style="border-radius: 15px" class="alert-error">
                    <h1 align="center"> تکلیفی برای این درس قرار داده نشده است </h1>
                </div>
            {% endif %}
        </div>
    </div>
    <br>
    {% if messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {% for message in messages %}
                <h5><i class="icon fas fa-check"></i> موفق</h5>
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

