{% extends 'management_panel_module/management_page.html' %}
{% load thumbnail %}
{% load jalali_tags %}
{% load poll_extras %}
{% block title %}
    جزئیات تکلیف
{% endblock %}

{% block content %}
    <div class="invoice p-3 mb-3">
        <!-- title row -->
        <div class="row">
            <div class="col-12">
                <h5>
                    <i class="fas fa-book-open"></i> تکلیف درس {{ lesson.title }}
                    <small class="float-right">تاریخ شروع : {{ home_work.start_at | to_jalali }}</small>
                    <br>
                    <small class="float-right">تاریخ پایان : {{ home_work.end_at | to_jalali }}</small>
                </h5>
            </div>
            <!-- /.col -->
        </div>
        <hr>
        <br>
        <!-- Table row -->
        <div class="row">
            <div class="col-12 table-responsive">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td><b>عنوان تکلیف</b></td>
                        <td><h4>{{ home_work.title }}</h4></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td><b>زمان باقی مانده</b></td>
                        <td> {% if home_work.is_finished %}
                            <b><p class="text-danger">مهلت ارسال به پایان رسید</p></b>  {% else %}
                            {{ home_work.get_reaming }} ساعت
                        {% endif %}   </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>توضیحات تکلیف</b></td>
                        <td>{{ home_work.description }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>وضعیت تحویل</b></td>
                        <td>{% if home_works.is_delivered %}
                            <p class="text-success">تحویل داده شده</p> {% else %}
                            <p id="is_delivered"> تحویل داده نشده
                                است</p>{% endif %} </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>حداکثر حجم مجاز</b></td>
                        <td>{{ home_work.max_size }} مگابایت</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>فرمت های مجاز</b></td>
                        <td>{{ allowed_formats }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>مربوط به پودمان یا نوبت</b></td>
                        <td>{{ home_work.poodeman_or_nobat }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>نمره معلم</b></td>
                        <td>{% if home_works.score %}
                            {{ home_works.score }} از {{ home_work.score_weight }}
                        {% else %}
                            هنوز نمره داده نشده است
                        {% endif %} </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <!-- this row will not appear when printing -->
        <div class="row">
            <div class="col-12">
                {% if not request.user.is_teacher and not home_work.is_finished %}
                    <form id="homeWorkForm" method="post"
                          action="{% url 'home_work_page' id=lesson.id pk=home_work.pk %} "
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <input class="btn btn-primary float-right" name="file" type="file" value="ارسال"
                               id="formFileMultiple" accept="{{ allowed_formats }}"/>
                        <br>
                        <hr>
                        <label class="form-label">درج پیام برای تکلیف</label>
                        {% if home_works %}
                            <input value="{{ home_works.message }}" name="message" class="form-control" type="text"
                                   disabled>
                        {% else %}
                            <input name="message" class="form-control" type="text">
                        {% endif %}
                        <hr>
                        <button id="submitButton" class="btn btn-success float-right" type="button"> ارسال</button>
                    </form>
                    <div id="show-sending-progress" class="card-footer dashboard-card-footer border-0 bg-white">
                    </div>
                    <strong id="error-field" class="text-danger"></strong>
                {% elif request.user.is_teacher %}
                    <div class="alert alert-warning"><p>شما معلم هستید و نمیتوانید تکلیفی ارسال کنید </p></div>
                    <a class="btn btn-danger btn-sm"
                       href="{% url 'delete_home_work' id=lesson.id pk=home_work.id %}">
                        <i class="fas fa-trash">
                        </i>
                        حذف
                    </a>
                    <a class="btn btn-primary btn-sm"
                       href="{% url 'edit_home_work' id=lesson.id pk=home_work.id %}">
                        <i class="fas fa-edit">
                        </i>
                        ویرایش
                    </a>
                    <hr>
                {% elif home_work.is_finished %}
                    <div class="alert alert-danger"><p>مهلت ارسال تکلیف به پایان رسیده</p></div>
                {% endif %}
                {% if not request.user.is_teacher %}
                    <div id="sent_homeworks_component">
                        {% include 'lessons/includes/sent_homeworks_list_component.html' with lesson=lesson home_works=home_works %}
                    </div>
                {% else %}
                    <p><a href="{% url 'list-sent-home-works' id=lesson.id  pk=home_work.id %}" class="btn btn-default"><i
                            class="fas fa-list-check"></i>
                        دیدن لیست تکالیف ارسال شده دانش آموزان</a></p>
                {% endif %}
            </div>
            {#            {% if messages %}#}
            {#                {% for message in messages %}#}
            {#                    {% if message.tags == 'error' %}#}
            {#                        <div class="alert alert-{{ message.tags }} alert-dismissible">#}
            {#                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>#}
            {#                            <h5><i class="icon fas fa-multiply"></i> ارور</h5>#}
            {#                            {{ message }}#}
            {#                        </div>#}
            {#                    {% else %}#}
            {#                        <div class="alert alert-{{ message.tags }} alert-dismissible">#}
            {#                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>#}
            {#                            <h5><i class="icon fas fa-check"></i> موفق</h5>#}
            {#                            {{ message }}#}
            {#                        </div>#}
            {#                    {% endif %}#}
            {#                {% endfor %}#}
            {#            {% endif %}#}
            <div id="message-success"></div>
        </div>
    </div>
    <script>
        {#let delete_sent_homework = $('#delete_sent_homework')#}
        {#let urlLink = delete_sent_homework.attr("href")#}
        {#delete_sent_homework.attr("href", "javascript: void(0)")#}

        function showMessageError(messageText, tag, status) {
            let message = `<div class="alert alert-${tag} alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h5><i class="icon fas fa-check"></i> ${status}</h5>
                           ${messageText}
                        </div>`
            return message
        }

        function deleteSentHomeWork(id, pk, file_id) {
            let cookie = document.cookie
            let csrfToken = cookie.substring(cookie.indexOf('=') + 1)
            $.ajax({
                url: `/lessons/${id}/${pk}/${file_id}/delete-home-work`,
                method: "POST",
                headers: {
                    'X-CSRFToken': csrfToken
                },
                success: function (res) {
                    if (res.status === "success") {
                        $('#sent_homeworks_component').html(res.body)
                        $('#message-success').empty().append(showMessageError('تکلیف شما با موفقیت حذف شد', 'warning', 'موفق'));
                        console.log('delete was success')
                    } else {
                        console.log('delete was not success')
                    }
                }
            })
        }

        $('#submitButton').click(function (e) {
            let form = document.getElementById('homeWorkForm')
            let data = new FormData(form);
            $(document).ajaxStart(function () {
                let showSendingProgress = `<div class="progress bg-white border">
                            <div id="showPercent" class="progress-bar bar" role="progressbar"
                                 aria-valuenow="0"
                                 style="width: 0%"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="small">
                            <span class="sr-only">پیشرفت درس:</span>
                            <strong id="showPercentNumber">0</strong>% کامل شده
                        </div>`
                $('#show-sending-progress').html(showSendingProgress)
            })
            $.ajax({
                url: "{% url 'home_work_page' id=lesson.id pk=home_work.pk %}",
                method: "POST",
                data: data,
                cache: false,
                processData: false,
                contentType: false,
                xhr: function () {
                    var xhr = new window.XMLHttpRequest();
                    xhr.upload.addEventListener("progress", function (evt) {
                        if (evt.lengthComputable) {
                            var percentComplete = evt.loaded / evt.total;
                            let percent = (Math.round(percentComplete * 100))
                            $('#showPercentNumber').html(percent);
                            $('#showPercent').css({
                                'width': percent + '%'
                            }).attr('ariaValuenow', percent)
                        }
                    }, false);
                    return xhr;
                },
                success: function (res) {
                    $('#formFileMultiple').val('')
                    $('#showPercentNumber').html(0);

                    $('#showPercent').css({
                        'width': 0 + '%'
                    }).attr('ariaValuenow', 0)

                    {#$('#sent_homeworks_component').val(res.body)#}
                    {#$('#sent_homeworks_component').html('')#}
                    {#$('#sent_homeworks_component').html(res.body)#}
                    if (res.status === 'success') {
                        {#$('#sent_homeworks_component').empty().append(res.body);#}
                        $('#sent_homeworks_component').html(res.body)
                        $('#message-success').empty().append(showMessageError('تکلیف شما با موفقیت ارسال شد', 'success', 'موفق'));
                        if (res.is_first_time){
                            $('#is_delivered').html('تحویل داده شده').addClass('text-success')
                        }
                    } else {
                        $('#error-field').empty().append(showMessageError(res.error, 'danger', 'شکست'));
                    }
                }
            })
        })
    </script>
{% endblock %}