{% extends 'management_panel_module/management_page.html' %}
{% load jalali_tags %}
{% load static %}
{% load poll_extras %}
{% load thumbnail %}
{% block title %}
    لیست تکالیف
{% endblock %}
{% block custom_header %}
    <link rel="stylesheet" href="{% static 'css/loading.css' %}">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <h4 align="center">لیست تکالیف درس : {{ lesson.title }}</h4>
            {% if request.user.is_teacher %}
                <a class="btn btn-info btn-sm" href="{% url 'set_new_home_work_lesson' lesson=lesson.id %}">
                    <i class="fas fa-plus-circle">
                    </i>
                    اضافه کردن تکلیف به این درس
                </a>
                <div style="float: left">
                    <a class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal"
                       href="{% url 'set_new_home_work_lesson' lesson=lesson.id %}">
                        <i class="fas fa-list-ul">
                        </i>
                        دیدن لیست نمرات دانش آموزان
                    </a>
                </div>
                <div class="container">

                    <!-- The Modal -->
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">لطفا یکی از {{ lesson.type_farsi }} های زیر را انتخاب
                                        کنید</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div class="div-button d-flex flex-column justify-content-around">
                                        {% if lesson.poodeman_or_nobat == 'poodeman' %}
                                            {% for poodeman in poodemans %}
                                                <a href="{% url 'students-list-home-works' id=lesson.id slug=poodeman.slug %}"
                                                   class="button-click btn btn-primary text-white">{{ poodeman.name }}</a>
                                            {% endfor %}
                                        {% else %}
                                            {% for nobat in nobats %}
                                                <a href="{% url 'students-list-home-works' id=lesson.id slug=nobat.slug %}"
                                                   class="button-click btn btn-primary text-white">{{ nobat.name }}</a>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">خروج</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            {% endif %}
            <br>
            <hr>
            <div id="home-works-list">
                {% include 'lessons/includes/home_works_list_component.html' with home_works=home_works lesson=lesson %}
            </div>
        </div>
    </div>
    <br>
    <div id="message-success"></div>
    <div class="modal-1">hello mf</div>
{% endblock %}

{% block custom_footer %}
    <script>
        function deleteHomeWork(id) {
            let cookie = document.cookie
            let csrfToken = cookie.substring(cookie.indexOf('=') + 1)
            $body = $("body");
            $(document).ajaxStart(function () {
                console.log('ajax started')
                $body.addClass("loading");
            });
            $(document).ajaxStop(function () {
                console.log('ajax ended')
                $body.removeClass("loading");
            })
            $.ajax({
                url: `/lessons/{{ lesson.id }}/${id}/delete`,
                method: "POST",
                headers: {
                    'X-CSRFToken': csrfToken
                },
                success: function (res) {
                    $('#home-works-list').html(res.body)
                    $('#message-success').empty().append(showMessageError(res.message, res.status, res.persian_status));
                }
            })
        }
    </script>
{% endblock %}