{% extends 'management_panel_module/management_page.html' %}
{% load static %}
{% load thumbnail %}
{% load poll_extras %}
{% block title %}
    لیست درس ها
{% endblock %}

{% block content %}
    <div class="card-header">
        <h3 class="card-title">جدول لیست درس ها</h3>

        <div class="card-tools">
            <form action="{% url 'lessons_list_page' %}" method="get">

                <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right"
                           placeholder="جست و جو">

                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                </div>

            </form>
            {% if request.GET.table_search %}
                <p><a href="{% url 'lessons_list_page' %}"> نمایش همه </a></p>
            {% endif %}
        </div>
    </div>
    <div class="row">
    {% for lesson in lessons %}
        <div class="col-sm-4">

        <div class="card">
            {% thumbnail lesson.image "120x30" crop="center" quality=95 as im %}
                <img class="card-img-top" src="{{ im.url }}" alt="">
            {% endthumbnail %}
            <div class="card-body">
                <b><h4 align="center">{{ lesson.title }}</h4></b>
                <hr>
                <p class="card-text"><b>رشته این درس :</b> {{ lesson.field_of_study }} <br> <br> <b>برای پایه
                    :</b> {{ lesson.base.title_farsi }}</p>
                <a href="{% url 'list_home_works' id=lesson.id %}" class="btn btn-primary">لیست تکالیف قرار داده
                    شده</a>
                {% if not request.user.is_teacher %}
                    <hr>
                        <div class="card-footer dashboard-card-footer border-0 bg-white">
                        <div class="progress bg-white border">
                            <div class="progress-bar bar" role="progressbar"
                                 aria-valuenow="{{ percent_of_sent_homework | get_item:lesson.title }}"
                                 style="width: {{ percent_of_sent_homework | get_item:lesson.title }}%"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="small">
                            <span class="sr-only">پیشرفت درس:</span>
                            <strong>{{ percent_of_sent_homework | get_item:lesson.title }}</strong>% کامل شده
                        </div>
                    </div>
                {% endif %}


                </div>
            </div>
        </div>
    {% endfor %}
</div>
    {% if lessons %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">قبلی</a>
                    </li>
                {% endif %}
                {% for pageNumber in paginator.page_range %}
                    <li class="{% if page_obj.number == pageNumber %} active {% endif %}">
                        <a class="page-link" href="?page={{ pageNumber }}">{{ pageNumber }}</a>
                    </li>
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">بعدی</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}

