{% extends 'management_panel_module/management_page.html' %}
{% load thumbnail %}
{% load poll_extras %}
{% load crispy_forms_field %}
{% block title %}
    لیست درس ها
{% endblock %}

{% block content %}
    <div class="card-header">
        <h3 class="card-title">جدول لیست درس ها</h3>

        <div class="card-tools">
            <form onsubmit="return mySubmitFunction()" action="{% url 'lessons_list_page' %}" method="post">
                {% csrf_token %}
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input id="lessons-search-input" type="text" name="table_search"
                           class="form-control float-right"
                           placeholder="جست و جو">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
            <form method="get">
                {{ filter.form.base }}
                {{ filter.form.field_of_study }}
            </form>
            {#            {% if request.GET.table_search %}#}
            {#                <p><a href="{% url 'lessons_list_page' %}"> نمایش همه </a></p>#}
            {#            {% endif %}#}
        </div>
    </div>
    <div id="lessons-list" class="row">
        {% include 'lessons/includes/lessons_list_content.html' with lessons=lessons percent_of_sent_homework=percent_of_sent_homework %}
    </div>
    {% if lessons %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">قبلی</a>
                    </li>
                {% endif %}
                {% for pageNumber in paginator.page_range %}
                    <li class="{% if page_obj.number == pageNumber %} active {% endif %}">
                        <a class="page-link" href="?page={{ pageNumber }}">{{ pageNumber }}</a>
                    </li>
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">بعدی</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
    <script>
        $('#lessons-search-input').keyup(function () {
            //$.get('/students-list-search?table_search='+this.value).then(res => {
            //     $('#students-list').html(res.body);
            //});
            let cookie = document.cookie
            let csrfToken = cookie.substring(cookie.indexOf('=') + 1)
            $.ajax({
                url: "{% url 'lessons_list_page' %}",
                method: 'post',
                data: {table_search: this.value},
                headers: {
                    'X-CSRFToken': csrfToken
                },
            }).done(function (res) {
                $('#lessons-list').html(res.body);
            })
        })

        function mySubmitFunction(e) {
            {#e.preventDefault();#}
            return false;
        }
    </script>
{% endblock %}

