{% extends 'management_panel_module/management_page.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
    لیست اعلان ها
{% endblock %}

{% block custom_header %}
    <link rel="stylesheet" href="{% static 'css/loading.css' %}">
{% endblock %}

{% block content %}
    <section class="content">
        <div class="card card-solid">
            {% if request.user.is_teacher %}
                <a href="{% url 'create_notification' %}" class="btn btn-primary text-white"><i class="fas fa-bell"></i>
                    قرار دادن اعلان جدید</a>
            {% endif %}
            <div class="card-body pb-0">
                <div id="notification-list">
                    {% include 'notification_module/include/notification_list_component.html' with custom_notifications=custom_notifications %}
                </div>
            </div>
        </div>
    </section>
    <div id="message-success"></div>
    <div class="modal-1">hello mf</div>
{% endblock %}

{% block custom_footer %}
    <script>
        function deleteNotification(id) {
            let cookie = document.cookie
            let csrfToken = cookie.substring(cookie.indexOf('=') + 1)
            $body = $("body");
            $(document).ajaxStart(function () {
                console.log('ajax started')
                $body.addClass("loading");
            });
            $(document).ajaxStop(function () {
                console.log('ajax ended')
                $body.removeClass("loading");
            })
            $.ajax({
                url: `/notifications/`,
                method: "POST",
                headers: {
                    'X-CSRFToken': csrfToken
                },
                data: {
                    notificationId: id
                },
                success: function (res) {
                    if (res.status === 'success') {
                        $('#notification-list').fadeOut(500, function () {
                            $('#notification-list').html(res.content).fadeIn(500)
                        })
                        $('#message-success').empty().append(showMessageError(res.message, res.status, res.persian_status));
                    } else {
                        $('#message-success').empty().append(showMessageError(res.message, res.status, res.persian_status));
                    }
                }
            })
        }
    </script>
{% endblock %}